NEXT_PUBLIC_SUPABASE_URL=https://bvcufqaediszufdgyjqh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ2Y3VmcWFlZGlzenVmZGd5anFoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA2MTI5MDksImV4cCI6MjA4NjE4ODkwOX0.ChHuazWZMlSOgsr_D9t_EWqHaPCu6TGLuLbpxlF7hZE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ2Y3VmcWFlZGlzenVmZGd5anFoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxMjkwOSwiZXhwIjoyMDg2MTg4OTA5fQ.Q2zyoGW0Jo3bVlSt6FSB3wWTGrNWUrObcekrMScqTlw
